.App{
margin:100px;  
border: 2px solid red;
padding: 10px;
padding-top: 0px;
padding-bottom: 0px;

}

@media (orientation:landscape),(max-width : 600px) {
  .mobile-view {
    background-color : rgb(175, 77, 140);
   }  
  .mobile-view h2{
    font-size:medium;
  }
  .mobile-view h3{
    font-size:small;
  }
}
@media (orientation:portrait),(max-width : 380px) {
  .mobile-view {
    background-color:yellowgreen;

   }  
  .mobile-view h2{
    font-size:small;
  }
  .mobile-view h3{
    font-size:small;
  }
  


  
}
@media (min-width :600px) {
      .mobile-view{
      background-color: blue;
      
    }
  }

  
   /* .main{
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      text-align: center;
      font-size: large;
  
  }
  .sib{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: blue;
    text-align: center;

}
.sub{
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: rgb(0, 255, 0);
  text-align: center;
}
.lib{
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color:red;
  text-align: center;

}*/
